## Aggregate Query Practice

In [3]:
import warnings
warnings.filterwarnings('ignore')
from reframe import Relation
country = Relation('/home/faculty/millbr02/pub/country.csv')
from sols3 import *

### Which government form has the highest average life expectancy?

In [4]:
country.groupby(['governmentform']).mean('lifeexpectancy').sort('mean_lifeexpectancy', ascending =False).head(1)

                  governmentform  mean_lifeexpectancy
25  Parliamentary Coprincipality                 83.5

In [ ]:

checker_1R(country, _)

### Calculate the surface area of each region and sort in ascending order.

In [8]:
country.groupby(['region']).sum('surfacearea').sort('sum_surfacearea')

                       region  sum_surfacearea
12       Micronesia/Caribbean             16.0
11                 Micronesia           3102.0
17                  Polynesia           8463.0
2            Baltic Countries         175117.0
4                   Caribbean         234423.0
3             British Islands         313173.0
10                  Melanesia         540774.0
24             Western Europe        1108456.5
21            Southern Europe        1316392.4
14           Nordic Countries        1321901.0
6             Central America        2479531.0
20            Southern Africa        2674781.0
19             Southeast Asia        4494802.0
13                Middle East        4820592.0
23             Western Africa        6138336.0
7              Eastern Africa        6299891.0
5              Central Africa        6612669.0
1   Australia and New Zealand        8011939.0
16            Northern Africa        8524700.0
22  Southern and Central Asia       10791132.0
8                Eastern Asia       11774482.0
0                  Antarctica       13132101.0
18              South America       17864922.0
9              Eastern Europe       18814094.0
15              North America       21500515.0

In [ ]:

checker_2R(country, _)

### Which government types have the lowest average life expectancy?

In [11]:
country.groupby(['governmentform']).mean('lifeexpectancy').sort('mean_lifeexpectancy').head(5)

             governmentform  mean_lifeexpectancy
14          Islamic Emirate            45.900000
0   Administrated by the UN            46.000000
22      Occupied by Marocco            49.800000
16                 Monarchy            60.180000
28                 Republic            62.459016

In [ ]:

checker_3R(country, _)

### What regions have a high average life expectancy?

In [14]:
country.groupby(['region']).mean('lifeexpectancy').sort('mean_lifeexpectancy',ascending=False).head(5)

                       region  mean_lifeexpectancy
1   Australia and New Zealand            78.800000
14           Nordic Countries            78.333333
24             Western Europe            78.255556
3             British Islands            77.250000
21            Southern Europe            76.528571

In [ ]:

checker_4R(country, _)

### What is the most common form of government?

In [16]:
country.groupby(['governmentform']).count('name').sort('count_name',ascending=False).head(1)

   governmentform  count_name
28       Republic         122

In [ ]:

checker_5R(country, _)

### Which region has the highest total gnp?

In [17]:
country.groupby(['region']).sum('gnp').sort('sum_gnp',ascending=False).head(1)

           region    sum_gnp
15  North America  9111890.0

In [ ]:

checker_6R(country, _)

### Show the 10 government forms with the largest population.

In [19]:
country.groupby(['governmentform']).sum('population').sort('sum_population',ascending=False).head(10)

                            governmentform  sum_population
11                        Federal Republic      2009320500
28                                Republic      2003311200
27                        People'sRepublic      1277558000
4                  Constitutional Monarchy       405893000
29                    Socialistic Republic       115072000
15                        Islamic Republic        97192000
6      Constitutional Monarchy, Federation        82516000
16                                Monarchy        25437000
14                         Islamic Emirate        22720000
31  Special Administrative Region of China         7255000

In [ ]:

checker_7R(country, _)

### List the total population of each region and order them from largest to smallest showing the largest 10 only.

In [20]:
country.groupby(['region']).sum('population').sort('sum_population',ascending=False).head(10)

                       region  sum_population
8                Eastern Asia      1507328000
22  Southern and Central Asia      1490776000
19             Southeast Asia       518541000
18              South America       345780000
15              North America       309632000
9              Eastern Europe       307026000
7              Eastern Africa       246999000
23             Western Africa       221672000
13                Middle East       188380700
24             Western Europe       183247600

In [ ]:

checker_8R(country, _)

### Show the total number of countries for each region in Europe.

In [23]:
country.query('continent == "Europe"').groupby('region').count('name')

             region  count_name
0  Baltic Countries           3
1   British Islands           2
2    Eastern Europe          10
3  Nordic Countries           7
4   Southern Europe          15
5    Western Europe           9

In [ ]:

checker_9R(country, _)

### List the total population of each region in Asia from highest to lowest.

In [25]:
country.query('continent == "Asia"').groupby('region').sum('population').sort('sum_population',ascending=False)

                      region  sum_population
0               Eastern Asia      1507328000
3  Southern and Central Asia      1490776000
2             Southeast Asia       518541000
1                Middle East       188380700

In [ ]:

checker_10R(country, _)