## Aggregate Query Practice

This assignment is to practice with the new SQL clauses:

* GROUP BY
* HAVING

In [44]:
# all of your notebooks and homework using SQL are going to start something like this
import warnings
warnings.filterwarnings('ignore')
%load_ext sql
from sols2 import *

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [45]:
%sql postgresql://aljamo01:@localhost/world

'Connected: aljamo01@world'

### Which government form has the highest average life expectancy?

In [46]:
%%sql

SELECT governmentform, AVG(lifeexpectancy) AS avg_lexpectancy
FROM country
GROUP BY governmentform
ORDER BY avg_lexpectancy DESC
LIMIT 1;

1 rows affected.

[('Parliamentary Coprincipality', 83.5)]

In [47]:

checker_1S(_)

Error! Did you name the columns correctly?
Columns' names expected: governmentform, Life Expectancy.

AssertionError:

### Calculate the surface area of the regions and sort in ascending order.

In [48]:
%%sql

SELECT region, sum(surfacearea) AS surfacearea_sum
FROM country
GROUP BY region
ORDER BY surfacearea_sum ASC;

25 rows affected.

[('Micronesia/Caribbean', 16.0),
 ('Micronesia', 3102.0),
 ('Polynesia', 8463.0),
 ('Baltic Countries', 175117.0),
 ('Caribbean', 234423.0),
 ('British Islands', 313173.0),
 ('Melanesia', 540774.0),
 ('Western Europe', 1108460.0),
 ('Southern Europe', 1316390.0),
 ('Nordic Countries', 1321900.0),
 ('Central America', 2479530.0),
 ('Southern Africa', 2674780.0),
 ('Southeast Asia', 4494800.0),
 ('Middle East', 4820590.0),
 ('Western Africa', 6138340.0),
 ('Eastern Africa', 6299890.0),
 ('Central Africa', 6612670.0),
 ('Australia and New Zealand', 8011940.0),
 ('Northern Africa', 8524700.0),
 ('Southern and Central Asia', 10791100.0),
 ('Eastern Asia', 11774500.0),
 ('Antarctica', 13132100.0),
 ('South America', 17864900.0),
 ('Eastern Europe', 18814100.0),
 ('North America', 21500500.0)]

In [ ]:

checker_2S(_)

### Which government types have the lowest gnp?

In [49]:
%%sql
SELECT governmentform, AVG(lifeexpectancy) AS avg_lexpectancy
FROM country
GROUP BY governmentform
ORDER BY avg_lexpectancy ASC
LIMIT 10;

10 rows affected.

[('Dependent Territory of the US', 0.0),
 ('Dependent Territory of Norway', 0.0),
 ('Co-administrated', 0.0),
 ('Independent Church State', 0.0),
 ('Territory of Australia', 0.0),
 ('Nonmetropolitan Territory of New Zealand', 23.6999994913737),
 ('Nonmetropolitan Territory of France', 36.9000015258789),
 ('Islamic Emirate', 45.9000015258789),
 ('Administrated by the UN', 46.0),
 ('Occupied by Marocco', 49.7999992370605)]

In [ ]:

checker_3S(_)

### What regions have a high average life expectancy?

In [50]:
%%sql
SELECT region, AVG(lifeexpectancy) AS avg_lexpectancy
FROM country
GROUP BY region
ORDER BY avg_lexpectancy DESC
LIMIT 10;

10 rows affected.

[('Western Europe', 78.2555567423503),
 ('British Islands', 77.25),
 ('North America', 75.8199996948242),
 ('Eastern Asia', 75.25),
 ('Caribbean', 73.0583332379659),
 ('Southern Europe', 71.4266672770182),
 ('Central America', 71.0249996185303),
 ('Middle East', 70.5666671329074),
 ('Eastern Europe', 69.9299995422363),
 ('Baltic Countries', 69.0)]

In [ ]:

checker_4S(_)

### What is the most common form of government?

In [51]:
%%sql

SELECT governmentform, COUNT(governmentform) AS total
FROM country
GROUP BY governmentform
ORDER BY total DESC
LIMIT 1;

1 rows affected.

[('Republic', 122)]

In [ ]:

checker_5S(_)

### Which region has the highest life expectancy?

In [63]:
%%sql

SELECT region, max(lifeexpectancy) AS gnp_sum
FROM country
GROUP BY region
ORDER BY gnp_sum  DESC
LIMIT 1;

1 rows affected.

[('Southern Europe', 83.5)]

In [ ]:

checker_6S(_)

### Show the 10 government forms with the largest population.

In [53]:
%%sql

SELECT governmentform, sum(population) AS population_sum
FROM country
GROUP BY governmentform
ORDER BY population_sum DESC
LIMIT 10;

10 rows affected.

[('Federal Republic', 2009320500),
 ('Republic', 2003311200),
 ("People'sRepublic", 1277558000),
 ('Constitutional Monarchy', 405893000),
 ('Socialistic Republic', 115072000),
 ('Islamic Republic', 97192000),
 ('Constitutional Monarchy, Federation', 82516000),
 ('Monarchy', 25437000),
 ('Islamic Emirate', 22720000),
 ('Special Administrative Region of China', 7255000)]

In [ ]:

checker_7S(_)

### List the total population of each continent and order them from smallest to largest.

In [54]:
%%sql

SELECT continent, sum(population) AS population_sum
FROM country
GROUP BY continent
ORDER BY population_sum;

7 rows affected.

[('Antarctica', 0),
 ('Oceania', 30401150),
 ('South America', 345780000),
 ('North America', 482993000),
 ('Europe', 730074600),
 ('Africa', 784475000),
 ('Asia', 3705025700)]

In [ ]:

checker_8S(_)

### Show the total number of countries for each region in Europe.

In [55]:
%%sql

SELECT region, count(name) AS countrs_num
FROM country
WHERE continent LIKE 'Europe'
GROUP BY region
ORDER BY countrs_num;

6 rows affected.

[('British Islands', 2),
 ('Baltic Countries', 3),
 ('Nordic Countries', 7),
 ('Western Europe', 9),
 ('Eastern Europe', 10),
 ('Southern Europe', 15)]

In [ ]:

checker_9S(_)

### List the total population of each region in Africa from lowest to highest.

In [56]:
%%sql

SELECT region, sum(population) AS population
FROM country
WHERE continent LIKE 'Africa'
GROUP BY region
ORDER BY population;

5 rows affected.

[('Southern Africa', 46886000),
 ('Central Africa', 95652000),
 ('Northern Africa', 173266000),
 ('Western Africa', 221672000),
 ('Eastern Africa', 246999000)]

In [ ]:

checker_10S(_)